/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts7
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #008000;
 text-decoration: underline;
}
a.rvts11, span.rvts11
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts12
{
 font-size: 9pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts16
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts17
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
}
span.rvts18
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts19
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts20
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts21
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
}
span.rvts22
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts23
{
 font-size: 16pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts24
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts25
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts26
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts27
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
}
a.rvts28, span.rvts28
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts29
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts30
{
 font-size: 16pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts31
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts32
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts33
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts34
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts35
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts36
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts37
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts38
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts39
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts40
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts41
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts42
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts43
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
a.rvts44, span.rvts44
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: none;
}
span.rvts45
{
 font-size: 13pt;
 font-family: 'Segoe UI';
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts46
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts47
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts48
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts49
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
}
span.rvts50
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts51
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts52
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #172b4d;
}
span.rvts53
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts54
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts55
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts56
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
}
span.rvts57
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts58
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
}
span.rvts59
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts60
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts61
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts62
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts63
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #172b4d;
 background-color: #ffffff;
}
span.rvts64
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts65
{
 font-size: 9.5pt;
 font-family: 'Cascadia Mono';
 color: #0000ff;
}
span.rvts66
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #172b4d;
}
span.rvts67
{
 font-size: 16pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
a.rvts68, span.rvts68
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts69
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
}
a.rvts70, span.rvts70
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 text-decoration: none;
}
span.rvts71
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #212121;
 background-color: #ffffff;
}
span.rvts72
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts73
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts74
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #393939;
 background-color: #ffffff;
}
span.rvts75
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
}
a.rvts76, span.rvts76
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts77
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts78
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #ff0000;
}
span.rvts79
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #339966;
}
span.rvts80
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #ff9900;
}
span.rvts81
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #ff0000;
}
span.rvts82
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts83
{
 font-family: 'Courier New', 'Courier', monospace;
 background-color: #ffff00;
}
span.rvts84
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts85
{
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
}
a.rvts86, span.rvts86
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: none;
}
span.rvts87
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts88
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts89
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts90
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts91
{
 font-size: 16pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts92
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts93
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts94
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts95
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #808080;
}
span.rvts96
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts97
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts98
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #ff0000;
}
span.rvts99
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: ;
}
span.rvts100
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #00b050;
}
span.rvts101
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #ffc000;
 background-color: #ffffff;
}
span.rvts102
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #ffc000;
}
span.rvts103
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts104
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts105
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
}
span.rvts106
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
}
a.rvts107, span.rvts107
{
 font-size: 9pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts108, span.rvts108
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts109, span.rvts109
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts110
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts111
{
 font-size: 9pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts112
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 background-color: #ffff00;
}
span.rvts113
{
 font-size: 13pt;
 font-family: 'Calibri';
 text-decoration: line-through;
}
span.rvts114
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 color: #212121;
 background-color: #ffffff;
}
span.rvts115
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #212121;
 background-color: #ffffff;
}
a.rvts116, span.rvts116
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts117
{
 font-size: 9pt;
 font-family: 'Calibri';
 vertical-align: super;
}
a.rvts118, span.rvts118
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
a.rvts119, span.rvts119
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
a.rvts120, span.rvts120
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts121, span.rvts121
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: none;
}
a.rvts122, span.rvts122
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: ;
 text-decoration: none;
}
a.rvts123, span.rvts123
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: ;
 text-decoration: none;
}
a.rvts124, span.rvts124
{
 font-size: 13pt;
 font-family: 'Calibri';
 font-style: italic;
 color: ;
 text-decoration: none;
}
span.rvts125
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: ;
}
span.rvts126
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts127
{
 font-size: 13pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 margin: 0px 0px 10px 0px;
}
.rvps3
{
 text-align: center;
 margin: 0px 0px 10px 0px;
}
.rvps4
{
 margin: 20px 0px 10px 0px;
}
.rvps5
{
 margin: 0px 0px 20px 24px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps9
{
 text-indent: -24px;
 margin: 0px 0px 0px 144px;
}
.rvps10
{
 margin: 0px 0px 10px 24px;
}
.rvps11
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps12
{
 margin: 16px 0px 4px 0px;
}
.rvps13
{
 margin: 16px 0px 10px 0px;
}
.rvps14
{
 margin: 16px 0px 10px 0px;
}
.rvps15
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps16
{
 margin: 0px 0px 10px 24px;
}
.rvps17
{
 margin: 0px 0px 10px 72px;
}
.rvps18
{
 margin: 0px 0px 10px 48px;
}
.rvps19
{
 background: #ffffff;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 10px 24px;
}
.rvps20
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 10px 0px;
}
.rvps21
{
 margin: 0px 0px 10px 96px;
}
.rvps22
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 4px 0px 0px 0px;
}
.rvps23
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 4px 0px 0px 0px;
}
.rvps24
{
 page-break-after: avoid;
 margin: 0px 0px 10px 0px;
}
.rvps25
{
}
.rvps26
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 0px;
}
.rvps27
{
 margin: 0px 0px 10px 0px;
}
.rvps28
{
 margin: 0px 36px 10px 48px;
}
.rvps29
{
 margin: 0px 36px 10px 24px;
}
.rvps30
{
 margin: 16px 0px 10px 72px;
}
.rvps31
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 page-break-after: avoid;
 margin: 0px 0px 10px 0px;
}
.rvps32
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 20px 0px 10px 0px;
}
.rvps33
{
 page-break-after: avoid;
 margin: 20px 0px 10px 0px;
}
.rvps34
{
 page-break-after: avoid;
 margin: 0px 0px 10px 48px;
}
.rvps35
{
 page-break-after: avoid;
 margin: 0px 0px 10px 24px;
}
.rvps36
{
 text-indent: -36px;
 margin: 0px 0px 10px 132px;
}
.rvps37
{
 margin: 0px 0px 0px 48px;
}
.rvps38
{
 page-break-after: avoid;
 margin: 0px 0px 0px 24px;
}
.rvps39
{
 margin: 20px 0px 0px 48px;
}
.rvps40
{
 margin: 20px 0px 0px 0px;
}
.rvps41
{
 margin: 0px 0px 0px 24px;
}
.rvps42
{
 page-break-after: avoid;
}
.rvps43
{
 margin: 10px 0px 10px 0px;
}
.rvps44
{
 margin: 0px 0px 0px 96px;
}
.rvps45
{
 margin: 4px 0px 0px 72px;
}
.rvps46
{
}
.rvps47
{
 margin: 0px 0px 10px 48px;
}
.rvps48
{
 margin: 0px 0px 20px 0px;
}
.rvps49
{
 margin: 10px 0px 10px 24px;
}
.rvps50
{
 margin: 0px 0px 4px 24px;
}
.rvps51
{
 text-indent: 48px;
 margin: 0px 0px 4px 24px;
}
.rvps52
{
 white-space: nowrap;
 margin: 0px 0px 4px 24px;
}
.rvps53
{
 text-indent: 48px;
 white-space: nowrap;
 margin: 0px 0px 4px 24px;
}
.rvps54
{
 margin: 0px 0px 10px 0px;
}
.rvps55
{
 page-break-after: avoid;
 margin: 0px 0px 0px 48px;
}
.rvps56
{
 page-break-after: avoid;
}
.rvps57
{
 page-break-after: avoid;
 margin: 10px 0px 0px 0px;
}
.rvps58
{
 text-indent: -24px;
}
.rvps59
{
 page-break-after: avoid;
 margin: 0px 0px 13px 0px;
}
.rvps60
{
 margin: 0px 0px 13px 0px;
}
.rvps61
{
 page-break-after: avoid;
 margin: 10px 0px 10px 0px;
}
.rvps62
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: upper-alpha;}
